[Unit]
Description=CcspTestComponent service

After=ccspwifiagent.service 

[Service]
Type=forking
WorkingDirectory=/usr/ccsp/testcomponent
Environment="Subsys=eRT."
Environment="LOG4C_RCPATH=/etc"
EnvironmentFile=/etc/device.properties
ExecStart=/usr/bin/test_component -subsys $Subsys

StandardOutput=syslog+console

[Install]
WantedBy=default.target
